{% extends "base.html" %} {% block title %}Log in{% endblock %} {% block body %}
<h1>gone fishing</h1>
{% if denied %}
<p>Your account cannot use this application.</p>
{% endif %} {% if failed %}
<p>Wikimedia login failed.</p>
{% endif %}
<p><a href="{{ url_for('login_start') }}">Log in</a></p>
<p>
  <b>Disclaimer:</b> This tool may not be used as evidence for sockpuppetry, and
  must only be used as a starting point for further investigation. Additionally,
  please do not disclose the existence of this tool onwiki.
</p>
<p>
  <b>Privacy:</b> No personal data is directly logged, but all actions taken
  using the app (e.g. looking up a user) will be permanently logged. Errors will
  also be logged for debugging purposes.
</p>
<p>
  This tool is restricted to users on the allowlist, enwiki checkusers, and
  stewards. If you are not on the allowlist, you will not be able to use this
  tool. Contact <a href="https://en.wikipedia.org/wiki/User:MSK">MSK</a> offwiki
  via <a href="https://en.wikipedia.org/wiki/Special:EmailUser/MSK">email</a> to
  be added to the allowlist; I will only add you if you are highly experienced
  SPIs.
</p>
{% endblock %}
